{{#partial "content"}}

   <h1 style="color:white">Post list!</h1>

   {{#if posts}}
       {{#each posts }}
           <div style="background-color:black;text-align:center">
        <h1 style="color:white">Current post:</h1>
        <p style="color:white">name: {{name}}</p>
        <p style="color:white">Age: {{age}}</p>
        <p style="color:white">Powers: {{power}}</p>
        <p style="color:white">Weaknesses: {{weakness}}</p>
               <a href="/list"><button class="btn btn-danger">Add Hero To Squad</button></a><br>
            <a href="/posts/{{id}}">read more...</a></p>
           </div>
       {{/each}}
   {{else}}
    <p>No posts!</p>
   {{/if}}
{{/partial}}

{{> layout.hbs}}