{{#partial "content"}}

    <h1 style="color:white">Post list!</h1>

    {{#if squads}}
        {{#each squads }}
            <div style="background-color:black;text-align:center">
                <h1 style="color:white">Current post:</h1>
                <p style="color:white">SquadName: {{squadName}}</p>
                <p style="color:white">MaxSize: {{maxSize}}</p>
                <p style="color:white">Cause: {{cause}}</p>
              <!--  <a href="/posts/{{id}}">read more...</a></p>-->
            </div>
        {{/each}}
    {{else}}
        <p>No squads!</p>
        <a href="/squads/form"><button class="btn btn-danger">Add Hero To Squad</button></a><br>
    {{/if}}
{{/partial}}

{{> layout.hbs}}